@CHARSET "UTF-8";

body {
	background-image: url(/trois/resources/work/wall1.png);
}
#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#active{
    display: block;
/*     background-color: antiquewhite; */
    width: 100%;
    height: 700px;
    float: left;
    overflow: auto;
}
 body{
    margin: 0;
}
.contain{
    width: 100%;
    height: 90%;
    display: inline-block;
}
.contain2{
	width: 100%;
    height: 90%;
    display: inline-block;
}
#active1{
/*     background-color: aquamarine; */
    width: 30%;
    height: 50%;
    float: right;
    margin-top:80px;
}
#active2{
/*     background-color: antiquewhite; */
    width:56%;
    margin-left: 35%;
    height: 70%;
    margin-top: 6%
}
#active3{
    float: left;
    width: 100%;
   /*  height: 250px; */
   height:auto;
   display:block;
}
.active3-1{
    float: left;
    height: 100px;
    width: 100px;
}
.active3-2{
    float: left;
    height: 100px;
    width: 100px;
}
.active3-3{
    float: left;
    height: 100px;
    width: 100px;
}
.active3-4{
    float: left;
    height: 100px;
    width: 100px;
}
#active4{
    float: left;
    width: 100%;
/*     height: 140px; */
       height:auto;
       display:block;
}
.active4-1{
    height: 100px;
    width: 100px;
}
.active4-2{
    height: 100px;
    width: 100px;
}
#active5{
    float: left;
    width: 100%;
/*     height: 140px; */
     height:auto;
     display:block;
}

#active6{
	float: left;
    width: 100%;
    height: 140px;
}
.active5-1{
    height: 100px;
    width: 100px;
}
.active5-2{
    height: 100px;
    width: 100px;
}
.side{ /* 왼쪽 사이드 */
    width: 20%;
    float: left;
    display: inline-block;
    height: 60%;
}
/* .side2{ */
/* 	width: 20%; */
/*     float: left; */
/*     display: inline-block; */
/*     height: 60%; */
/* } */
.p1{
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
    
}
.p2{
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.p3{
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.p4{
	width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.p5{
	width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
}


#helpBox{ /* 상단박스 */
    width: 100%;
    height: 50px;
    display: inline-block;
    
}
.side img{
	width: 100px;
    overflow: hidden;
    height: 100%;
    resize: both;
}
.big1 img{
	width: 100px;
    overflow: hidden;
    height: 100%;
    resize: both;
}

#help{
    display: block;
    float: right;
}

#image1{
    margin-top: 68%;
    margin-left: 50%;
    width: 7%;
}
#image2{
    margin-top: 68%;
    margin-left: 60%;
    width: 7%;
}
#image3{

    margin-top: 35%;
    margin-left: 40%;
    width: 7%;
}
#image4{
    width: 60%;
    margin-left: 17%;
    margin-top: 30px
}
#image5{
    width: 60%;
    margin-left: 17%;
    margin-top: 30px
}
#image6{
  width: 60%;
    margin-left: 17%;
    margin-top: 30px
}
#image7{
    width: 60%;
    margin-left: 17%;
    margin-top: 30px
}


#active6{
    width: 20%;
    margin-left: 35%;
}
#text{
    width: 80%;
    height: 20px;
    margin-left: 40%;
    margin-top: 5%;
}
#active9{
    float: right;
    width: 19%;
    height: auto;
}
#active7{
	float: left;
    width: 300%;
    height: 250px;
    margin-top: 20%;
}
.active7-1{
    float: left;
    height:100px;
    width:100px;
}
.active7-2{
    float: left;
    height: 100px;
    width: 100px;
}
.active7-3{
    float: left;
    height: 100px;
    width: 100px;
}
.active7-4{
    float: left;
    height:100px;
    width: 100px;
}
.p5{
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
    margin-top: 70%;
    
}
#active10{
	float: left;
    width: 100%;
    height: 250px;
    margin-top: 20%;
}
#active8{
    float: left;
    width: 100%;
    height: 250px;
    margin-top: 20%;
  
}
li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.active8-1{
    float: left;
    height: 100px;
    width: 100px;
}
.active8-2{
    float: left;
    height: 100px;
    width: 100px;
}
.side3{ /* 왼쪽 사이드 */
    width: 20%;
    float: left;
    display: inline-block;
    height: 60%;
}

.right{
    display: inline-block;
    width: 70%;
    height: auto;
}

#main{
    width: 1213px;
    height: 708px;
    margin-left: 7%;
    margin-top:42px;
}

.big1 {
    width: 100%;
    height: 100%;
    background-image: url(/trois/resources/work/wall1.png);
    display: inline-block;
    /*background-color: #efd8c6;*/
}
   div {
                width: 100px;
                height: 100px;
                display: inline-block;
                float: left;
                /*background-color: #efd8c6;*/
               /*background-image: url(/trois/resources/work/wall1.png); */
   }


.border-left{
    border-left: 1px solid black;
}
.border-right{
    border-right: 1px solid black;
}
.border-top{
    border-top: 1px solid black;
}
.border-bottom{
    border-bottom: 1px solid black;
}

             
            /*.bg1{
                background-color: aqua;
            }
            .bg2{
                background-color: gray;
            }*/
            
            
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); Fallback color;
    background-color: rgba(0,0,0,0.4); Black w/ opacity;
}

/* Modal Content */
.modal-content1 {
   background-color: aquamarine;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    margin-left: 79%;
    margin-top: 3%;
}

/* The Close Button */
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
